body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.login-box h2 {
  margin-bottom: 10px;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid gray;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 12px;
  background: blue;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}